.card-conteiner {
  background-image: repeating-linear-gradient(to bottom right, yellow, red);
  border: 1px black solid;
  border-radius: 5%;
  flex-grow: 1;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.card-conteiner a {
  color: white;
}

.card-image {
  background-color: white;
  border: 1px black solid;
  margin: 6px;
}